<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input id="nameInput" type="text" class="form-control" name="name" value="Ivan" placeholder="..." aria-describedby="basic-addon1" />
</div>
<br />
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Age</span>
    <input id="ageInput" type="number" class="form-control" value="18" min="18" max="65" aria-describedby="basic-addon1" />
</div>
<br />
<input id="addBtn" type="submit" value="Add this person" />