<!DOCTYPE html>
<html>
<head>
    <title>CSS - BTV News</title>
    <link href="btvWebPage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav class="navMenu clearfix"><ul><li id="newsFirstItem"><a href="#home">Home</a></li><li><a href="#world">World</a></li><li><a href="#news">News</a></li><li><a href="#sports">Sports</a></li><li><a href="#everyday">Everyday</a></li></ul></nav>
        <article class="articleMenu clearfix">
            <nav id="world">
                <ul>
                    <li>
                        <label for="worldArticle1">
                            World Item 1
                        </label>
                    </li>
                </ul>
            </nav>
            <nav id="news">
                <ul>
                    <li>
                        <label for="newsArticle1">
                            news Item 1
                        </label>
                    </li>
                    <li>
                        <label for="newsArticle2">
                            news Item 2
                        </label>
                    </li>
                </ul>
            </nav>
            <nav id="sports">
                <ul>
                    <li>
                        <label for="sportsArticle1">
                            sportArticle1 Item 1
                        </label>
                    </li>
                    <li>
                        <label for="sportsArticle2">
                            sportArticle1 Item 2
                        </label>
                    </li>
                </ul>
            </nav>
            <nav id="everyday">
                <ul>
                    <li>
                        <label for="everydayArticle1">
                            Everyday Item 1
                        </label>
                    </li>
                </ul>
            </nav>
            <nav id="home">
                <ul>
                    <li>
                        <label for="homeArticle1">
                            home Article 1
                        </label>
                    </li>
                    <li>
                        <label for="homeArticle2">
                            home Article 2
                        </label>
                    </li>
                </ul>
            </nav>
            <div class="articleContent">
                <section id="homeContent">
                    <input type="radio" name="article" id="worldArticle1" />
                    <article>
                        <p>
                            world integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            everydayItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                    <input type="radio" name="article" id="newsArticle1" />
                    <article>
                        <p>
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            newsArticle1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>

                    <input type="radio" name="article" id="newsArticle2" />
                    <article>
                        <p>
                            newsArticle2 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                    <input type="radio" name="article" id="sportsArticle1" />
                    <article>
                        <p>
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            sportsArticle1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>

                    <input type="radio" name="article" id="sportsArticle2" />
                    <article>
                        <p>
                            sportsArticle2 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                    <input type="radio" name="article" id="everydayArticle1" />
                    <article>
                        <p>
                            <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" />
                            everydayItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                    <input type="radio" name="article" id="homeArticle1" checked="checked" />
                    <article>
                        <img class="leftFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1002681_10152371826893641_7482017389916959264_n.jpg?oh=92d86efe28116b1c5fc777bcbaa2731a&oe=56FC0ACF" alt="Inspectora" />
                        <p>
                            homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
<img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                            homeItem1 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            <img class="rightFloatPic" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1377290_10151931544733641_531264695_n.jpg?oh=2f5752b09ab982a1e1ddb8985e988f6a&oe=56FCA0ED" alt="Inspectora" /> nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                    <input type="radio" name="article" id="homeArticle2" />
                    <article>
                        <img class="leftFloatPic" src="https://scontent-vie1-1.xx.fbcdn.net/hprofile-xfp1/v/t1.0-1/p160x160/10294380_10153863336418556_8576694693934124151_n.jpg?oh=083a94b3e2a5df9533187fb9419dc652&oe=573A0915" alt="Inspectora" />
                        <p>
                            homeItem2 integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            Placerat suscipit, orci nisl iaculis eros, a tincidunt
                            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                        </p>
                    </article>
                </section>
            </div>
        </article>
        <footer class="footer">
            <ul><li><a href="#">Footer ADDW Item 01</a></li><li><a href="#">Footer Item 02</a></li><li><a href="#">Footer Item 03</a></li><li><a href="#">Footer Item dw 04</a></li><li><a href="#">Footer 05</a></li></ul>
        </footer>
    </div>
</body>
</html>