<!DOCTYPE html>
<html>
<head>
    <title>CSS - Dropdown Menu</title>
    <link href="dropdownMenuCSS.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>
            <input type="radio" name="dropdown" id="11" />
            <input type="radio" name="dropdown" id="1" class="menu-show-radio" />
            <label class="showMenuLabel" for="1">Show List 01</label>
            <label class="hiddeMenuLabel" for="11">Hide List 01</label>
            <ul>
                <li>Dropdown Link 1</li>
                <li>Dropdown Link 2</li>
                <li>Dropdown Link 3</li>
            </ul>
        </li><li>
            <input type="radio" name="dropdown" id="22" />
            <input type="radio" name="dropdown" id="2" class="menu-show-radio" />
            <label class="showMenuLabel" for="2">List 02</label>
            <label class="hiddeMenuLabel" for="22">List 02</label>
            <ul>
                <li>Dropdown Link 01</li>
                <li>Dropdown Link 02</li>
                <li>Dropdown Link 03</li>
            </ul>
        </li><li>
            <input type="radio" name="dropdown" id="33" />
            <input type="radio" name="dropdown" id="3" class="menu-show-radio" />
            <label class="showMenuLabel" for="3">List 03</label>
            <label class="hiddeMenuLabel" for="33">List 03</label><ul>
                <li>
                    Dropdown Link 001
                </li>
                <li>
                    Dropdown Link 002
                </li>
                <li>
                    Dropdown Link 003
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>