<!DOCTYPE html>
<html>
<head>
    <title>CSS - Less Example</title>
    <link href="lessExample.css" rel="stylesheet" />
</head>
<body>
    <h1>CSS - Less Example</h1>
    <a href="#">Page 1</a>
    <a href="#">Page 2</a>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Placeraton varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
    </p>
    <p><span>content</span></p>
    <ul>
        <li>
            <a href="#">Text 01</a>
        </li>
        <li class="importantLink">
            <a href="#">importantLink</a>
        </li>
    </ul>
</body>
</html>