<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CSS - Tree View</title>
    <link href="treeView.css" rel="stylesheet" />
</head>
<body>
    <ol>
        <li>
            <a href="#">Outer List Item 01</a>
            <ol>
                <li>
                    <a href="#">Middle List Item 001</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 002</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 003</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 004</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 005</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                        <li><a href="#">Inner List Item 0005</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a href="#">Outer List Item 02</a>
            <ol>
                <li>
                    <a href="#">Middle List Item 001</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                        <li><a href="#">Inner List Item 0005</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 002</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 003</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 004</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 005</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a href="#">Outer List Item 03</a>
            <ol>
                <li>
                    <a href="#">Middle List Item 001</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 002</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 003</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                        <li><a href="#">Inner List Item 0005</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 004</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 005</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a href="#">Outer List Item 04</a>
            <ol>
                <li>
                    <a href="#">Middle List Item 001</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 002</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 003</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 004</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                        <li><a href="#">Inner List Item 0005</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 005</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a href="#">Outer List Item 05</a>
            <ol>
                <li>
                    <a href="#">Middle List Item 001</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                        <li><a href="#">Inner List Item 0005</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 002</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                        <li><a href="#">Inner List Item 0004</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 003</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                        <li><a href="#">Inner List Item 0003</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 004</a>
                    <ol>
                        <li><a href="#">Inner List Item 0001</a></li>
                        <li><a href="#">Inner List Item 0002</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Middle List Item 005</a>
                    <ol>
                        <li>
                            <a href="#">Inner List Item 0001</a>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</body>
</html>
